.life {
  /* Internal layout */
  padding: var(--pad);
  gap: var(--gap);
  text-align: center;
  /* Font */
  font-size: calc(var(--text-size) / 2);
}

.life__title {
  color: var(--color1a);
}

.life__canvas {
  border: 1px solid;
}