:root {
  --ebony: hsl(243, 44%, 8%);

  --dark-jade-green: hsl(181, 90%, 12%);
  --dark-jade: hsl(145, 19%, 45%);
  --jade: hsl(158, 100%, 33%);

  --bronze-gold: #a56406;
  --gold: hsl(51, 100%, 50%);

  --ivory: hsl(60, 100%, 97%);

  --color0: var(--ebony);
  --color1: var(--dark-jade);
  --color1a: var(--jade);
  --color2: var(--bronze-gold);
  --color2a: var(--gold);
  --color3: var(--ivory);

  --pad: 4px;
  --gap: 8px;
  --text-size: 16px;
  --label-size: 16px;
}

html,
body {
  /* Internal layout */
  box-sizing: border-box;
  /* Color */
  background-color: var(--color0);
  color: var(--color1);
}

*,
*::before,
*::after {
  /* Internal layout */
  box-sizing: inherit;
}

body {
  /* Internal layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Font */
  font-size: var(--text-size);
  /* External layout */
  margin: auto;
  min-height: 100svh;
}